.input-form{
    border: 1px solid grey;
    border-radius: 3px;
    width: 30%;
    margin-left: 34%;
    margin-top: 10px;
    padding: 10px;
}

.dual-btn{
    background-color: rgba(39, 90, 83, 1);
    color: white;
    border: none;
    padding: 10px;
}

.alt-btn img{
   width: 5%;
   margin-right: 20%;
}
.alt-btn{
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    width: 25%;
    height: 38px;
    margin-top: 10px;
}
